<div>
        <h1>Registro</h1>
        <form id="registerForm">
            <label>Nombre</label>
            <input name="first_name">
            <label>Apellido</label>
            <input name="last_name">
            <label>Edad</label>
            <input  type="number" name="age">
            <label>Email</label>
            <input type="email" name="email">
            <label>Contraseña</label>
            <input type="password" name="password">
            <label>Id Cart</label>
            <input name="carts">

            <input type="submit">

        </form>
        <p>¿Ya tienes una cuenta? <a href="/">Ingrese aquí</a></p>
</div>
<script src="/js/register.js"></script>